[Desktop Entry]
Encoding=UTF-8
Name=BTCi
Comment=BTCi P2P Cryptocurrency
Comment[fr]=BTCi, monnaie virtuelle cryptographique pair à pair
Comment[tr]=BTCi, eşten eşe kriptografik sanal para birimi
Exec=btci-qt %u
Terminal=false
Type=Application
Icon=btci128
MimeType=x-scheme-handler/btci;
Categories=Office;Finance;
